# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly libraries used by Data Scientists
* Table of Data Science Tools
* Few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow
4. ggplot2
5. caret

|Data Science Tools|
|------------------|
|Python|
|R|
|SQL|
|Julia|
|Java|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes // 60
remaining_minutes = minutes % 60

print(hours, "hours and ", remaining_minutes, "minutminutes")

3 hours and  20 minutminutes

## Author
DJONDANG Aoudou